@media(max-width:576px) {
    .gg-icon {
        max-width: 80px;
        max-height: 80px;
    }
}

@media(min-width:576px) {
    .gg-icon {
        max-width: 80px;
        max-height: 80px;
    }

}

@media(min-width:576px) {
    .gg-icon {
        max-width: 80px;
        max-height: 80px;
    }

}




.disclaimer {
    height: 2em;
    background-color: red;
    color: white;
}




#industries-header {
    display: block;
text-align: center;}



    /*****custom nav class name ".my-nav" optional name******/
    /*changes background bar*/
    .gg-nav {

        border-bottom: steelblue solid ;
        border-top: steelblue solid;
        background-color: grey;



    }

    /*This is default, leftmost area, brand logo or brand text if no image is uploaded*/
    .gg-nav.navbar-brand {
        color: black;
    }

    /* If for text you want to hover over it for different effect*/
    .gg-nav.navbar-brand:hover {

    }

    /* Changes color and properties like font-style of rest of <li> links*/
    .gg-nav .nav-link {
        color: black;

    }

    /*Change link properties on hover*/
    .gg-nav .nav-link:hover {
        color: white;
    }

    /*If menu is dropdown will change some dropdown properties*/
    .my-nav .dropdown-menu {

    }

    /*Must make new class to change toggler image and color.  ".custom-toggler" is place holder name and can be changed*/
    .gg-toggler.navbar-toggler {
        border-color: black;
        stroke: black;

    }


    .gg-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 200, 200%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");


    }

.container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
}


.industries {
    display: block;
    width: 100%;
    z-index: 0;
    position: relative;
    opacity: 100%;
    padding: 1rem;
    transition: 1s;
    border-collapse: collapse;
    outline-offset: -1rem;

}

.industries:hover{
    opacity: 50%;

    outline-offset: -5rem;
    transition: 1s;
    outline: white inset;

}

.industries-img {

    max-height: fit-content;
    max-width: fit-content;
    padding: 1rem;


}
/*
.card-deck .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-right: 0px;
    margin-bottom: 0;
    margin-left: 0px;
}
}*/



.news-column-scroll {
    width: auto;
    height: 521px;
    overflow-y: scroll;
   overflow-x: hidden;



}



/*.col-lg-6 {
    display: inline-block;
    position: relative;
}

 */
.industries-text {
    opacity: 0;
    font-family: "Eras Bold ITC", serif;
    font-weight: bolder;
    color: white;
    z-index: 1;
    width: 93%;
    height: 96%;
    font-size: 2em;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}




span.industries-text:hover ~ img{
    opacity: 30%;
    outline-offset: -5rem;
    transition: 1s;
    outline: white inset;

}

span.industries-text:hover {
    opacity: 100%;
    color: #3266bb;
    transition: 1s;


}



/*
.header {

    background: steelblue;
    transition: width 2s;

}*/
.circular-shape-wrap {
    shape-outside: padding-box circle(58%);
    max-width: 25%;
    opacity: .4;
    margin: 1rem 1.3rem 1rem 0;
    border: solid goldenrod;
    border-radius: 10em;
    z-index: 1;


}



.about-us {
    margin-top: 1rem;
}

.about-us-text {
    display: flex;
    align-items: center;
}

.card {
    max-width: border-box;
    overflow-x: auto;
}
.card-img-top {
    margin: 0.7rem;
    max-width:10%;
    max-height: 10%;
}

.products {
    max-width: 8rem;
    max-height: 8rem;


}



.counter-header {
    width: 100%;
    height: 100px;
    background-color: steelblue ;
}


.counter-body {
    width: 100%;
    height: 300px;
    background-color: grey;
}

.bg-primary {
    color: white;
    background-color: #3266bb !important;
    font-family: "Calibri Light", serif;
    border-radius: 0.2rem;



}

.dropdown-menu {
    min-width: 15rem;
    background-color: rgb(190, 190, 190);
}

.gg-footer {
    background-color: grey;

}

.globe-position {
    position: relative;
}

.US-map {
    position: relative;
    top: 0;
    left: 25%;
    max-width: 35%;

}

.justify {
    text-align: justify;
    text-justify: auto;
}

#svg-map {
    width: 65%;
    height: auto;

}


path {
    opacity: 50%;
}

path:hover {
    opacity: 100%;
    transition: 0.5s;

}

#about-us-divider {
    margin-top: 1rem;
    padding-top: 1rem;
    height: auto;
    width: 0.1rem;
    background-color: black;
}

.jumbotron {
    background-image: url("../images/background-3228704_1280.webp");
    background-size: 100% 100%;



}

.jumbo-info {
    opacity: 1;


    display: flex;
    justify-content: center;
}

.info-size {
    height: 100%;
}

input {
    color: black;
}

label {
    color: white;
}

#message {
    width: 20rem;
}