@media(max-width:576px) {
    .gg-icon {
        max-width: 80px;
        max-height: 80px;
    }
}

@media(min-width:576px) {
    .gg-icon {
        max-width: 80px;
        max-height: 80px;
    }

}

.disclaimer {
    height: 2em;
    background-color: red;
    color: white;
}




h1 {
    display: block;
text-align: center;}



    /*****custom nav class name ".my-nav" optional name******/
    /*changes background bar*/
    .gg-nav {
        background: white;
        border-bottom: steelblue solid ;
        border-top: steelblue solid;



    }

    /*This is default, leftmost area, brand logo or brand text if no image is uploaded*/
    .gg-nav.navbar-brand {
        color: black;
    }

    /* If for text you want to hover over it for different effect*/
    .gg-nav.navbar-brand:hover {
        background-color: blue;
    }

    /* Changes color and properties like font-style of rest of <li> links*/
    .gg-nav .nav-link {
        color: black;

    }

    /*Change link properties on hover*/
    .gg-nav .nav-link:hover {
        color: steelblue;
    }

    /*If menu is dropdown will change some dropdown properties*/
    .my-nav .dropdown-menu {

    }

    /*Must make new class to change toggler image and color.  ".custom-toggler" is place holder name and can be changed*/
    .gg-toggler.navbar-toggler {
        border-color: blue;
        stroke: blue;
        background-color: blue;
    }


    .gg-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        background-color: ;

    }


.industries {
    display: block;
    width: 100%;
    z-index: 0;
    position: relative;
    opacity: 100%;
    padding: 1rem;
    transition: 1s;
    border-collapse: collapse;
    outline-offset: -1rem;

}

.industries:hover{
    opacity: 50%;

    outline-offset: -5rem;
    transition: 1s;
    outline: white inset;

}

.industries-img {

    max-height: fit-content;
    max-width: fit-content;
    padding: 1rem;


}
/*
.card-deck .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-right: 0px;
    margin-bottom: 0;
    margin-left: 0px;
}
}*/



.grey-column-scroll {
    max-height: 521px;
    overflow-y: scroll;
   overflow-x: hidden;



}

#grey-column {

    width: 100%;
    padding: 1rem;

}

/*.col-lg-6 {
    display: inline-block;
    position: relative;
}

 */
.industries-text {
    opacity: 0;
    font-family: "Eras Bold ITC";
    font-weight: bolder;
    color: darkblue;
    z-index: 1;
    width: 93%;
    height: 96%;
    font-size: 2em;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}




span.industries-text:hover ~ img {
    opacity: 30%;
    outline-offset: -5rem;
    transition: 1s;
    outline: white inset;

}

span.industries-text:hover {
    opacity: 100%;
    color: black;
    transition: 1s;
}



/*
.header {

    background: steelblue;
    transition: width 2s;

}*/
.shape-playground-2 {
    shape-outside: padding-box circle();


    max-width: 25rem ;
    max-width: 25rem;

    opacity: .2;

}

.about-us {
    margin-top: 1rem;
}

.about-us-text {
    display: flex;
    align-items: center;
}

.card {
    max-width: border-box;
    overflow-x: auto;
}
.card-img-top {
    max-width:10%;
    max-height: 10%;
}

#products {
    max-width: 6rem;
    max-height: 6rem;
    animation: pulse 2s;

}

@keyframes pulse {
    0% {
        padding: 15px;
        box-shadow: steelblue;
    }

    15% {
        padding: 30px;
        box-shadow: steelblue;
    }

    45% {
        box-shadow: steelblue;
    }

    85% {
        box-shadow: steelblue;
    }

    100% {
        box-shadow: steelblue;
    }
}